<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Title -->
    <title>Avengers Puzzle</title>
    <!-- Icon -->
    <link rel="shortcut icon" href="../../public/images/icon.svg" />
    <!-- CSS -->
    <link rel="stylesheet" href="../../public/css/puzzle.css" />
  </head>

  <body>
    <main class="Puzzle">
      <div class="Puzzle__Container">
        <h1 class="Puzzle__Title">Turns: <span id="Turns">0</span></h1>
        <div class="Puzzle__Board" id="Board"></div>
      </div>
      <div class="Puzzle__Container">
        <h1 class="Puzzle__Title">Pieces</h1>
        <div class="Puzzle__Pieces" id="Pieces"></div>
      </div>
    </main>
    <!-- JS -->
    <script type="text/javascript" src="../../public/js/puzzle.js"></script>
  </body>
</html>
